[submodule "todo-rest"]
	path = todo-rest
	url = git@github.com:Dounder/todo-app-nest.git
[submodule "todo-gql"]
	path = todo-gql
	url = git@github.com:Dounder/todo-nest-graphql.git
[submodule "postgresql-graphql"]
	path = postgresql-graphql
	url = git@github.com:Dounder/n-pg-gql.git
[submodule "mongo-gql"]
	path = mongo-gql
	url = git@github.com:Dounder/n-mongo-gql.git
[submodule "drello"]
	path = drello
	url = git@github.com:Dounder/drello-backend.git
[submodule "rest-postgres"]
	path = rest-postgres
	url = git@github.com:Dounder/nest-pg-rest-boilerplate.git
